<div class="container igis-login-container">
  <img src="./assets/images/Logo-IGIS.png" class="img-rounded center-block" alt="IGIS" height="180" />
  <h2 class="text-center igis-login-title">IGIS Administration Login</h2>
  <div class="center-block text-center">
    <section>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group col-md-6 col-md-offset-3">
          <div class="row igis-login-input-rows form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label class="col-md-4 igis-login-labels" for="username">Username</label>
            <div class="col-md-8">
              <input type="text" class="form-control igis-textboxes center-block" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            </div>
            <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
          </div>
          <div class="row igis-login-input-rows form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label class="col-md-4 igis-login-labels" for="password">Password</label>
            <div class="col-md-8">
              <input type="password" class="form-control igis-textboxes center-block" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
            </div>
          </div>
          <div *ngIf="f.submitted && errorMessage" class="text-danger row"><span>{{errorMessage}}</span></div>
          <div class="form-group row igis-login-button">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
