.igis-login-container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.igis-login-input-rows {
  margin-bottom: 10px;
  margin-top: 10px;
}

.igis-login-button {
  margin-top: 25px;
}

.igis-login-title {
  margin-bottom: 1.5em;
}

.igis-textboxes {
  max-width: 15em;
}

.igis-login-labels {
  text-align: right;
}

.title-bs-h3 {
  margin-bottom: 25px;
}
