﻿@{
    Layout = null;
    ViewData["Title"] = "OMGIS Dashboard Login";
}
@model IGISAccess.ViewModels.LoginViewModel


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>OMDASH Login</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" sizes="32x32">
</head>
<body>
    <img src="~/images-dotnet/Logo-IWK.jpg" alt="IWK" class="iwk-corner-logo">
    <div class="container d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center mt-5">
            <img id="omgis-logo" src="~/images-dotnet/OMGIS-Logo.png" class="img-rounded align-items-*-center text-center" alt="OMGIS" height="180" />
        </div>
        <h2 class="text-center igis-login-title my-3">@ViewData["Title"]</h2>
        <div class="justify-content-center text-center">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-controller="Account" asp-action="Login" class="d-flex justify-content-center mt-4">
                <div class="form-group col-md-6 col-md-offset-3 container">
                    <div class="row mt-2 d-flex justify-content-center">
                        <label asp-for="Username" class="col-md-3"></label>
                        <div class="col-md-6 pr-4">
                            <input asp-for="Username" class="form-control center-block"
                                   id="usernameTextbox" onkeypress="var loginMessage = document.getElementById('loginMessage');
                                                                loginMessage.style.display = 'none';" />
                        </div>
                    </div>
                    <div class="row mt-2 d-flex justify-content-center">
                        <label asp-for="Password" class="col-md-3"></label>
                        <div class="col-md-6 pr-4">
                            <input asp-for="Password" id="passwordTxtBox" class="form-control center-block" />
                        </div>
                    </div>
                    @{
                        var loginStyleText = "";
                        var loginMessage = "";
                        if (!(@Model != null && (@Model.LoginMessage != null || @Model.LoginMessage == string.Empty)))
                        {
                            loginStyleText = "style=display:none;";
                        }
                        else
                        {
                            loginMessage = @Model.LoginMessage;
                        }
                    }
                    <div class="text-danger row my-3 d-flex justify-content-center" id="loginMessage" @loginStyleText>
                        <span>@loginMessage</span>
                    </div>
                    <div class="row m-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" value="LoginBtn">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("#passwordTxtBox,#usernameTextbox").keypress(function (event) {
            if (event.keyCode == 13) {
                LoginBtn();
            }
        });
    </script>
</body>
</html>
