﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

@model IGISAccess.ViewModels.IndexViewModel

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>ArcGIS Web Application</title>
    <link rel="shortcut icon" href="images/shortcut.ico">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css"  href="jimu.js/css/jimu-ie.css" />
    <![endif]-->
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #main-loading {
            width: 100%;
            height: 100%;
            text-align: center;
            overflow: hidden;
        }

            #main-loading #ie-note {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            #main-loading #ie-note {
                width: 586px;
                height: 253px;
                background-image: url('images/notes.png');
                padding: 0 30px 40px 30px;
                font-size: 14px;
                color: #596679;
            }

        #ie-note .hint-title {
            height: 40px;
            line-height: 48px;
            text-align: left;
            font-weight: bold;
        }

        #ie-note .hint-img {
            background-image: url('images/hint.png');
            background-position: left;
            padding-left: 40px;
            margin-top: 20px;
            background-repeat: no-repeat;
            height: 30px;
            text-align: left;
            line-height: 30px;
            font-weight: bold;
        }

        #ie-note span {
            display: block;
            line-height: 14px;
        }

        #main-page {
            display: none;
            width: 100%;
            height: 100%;
            position: relative;
        }

        #jimu-layout-manager {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        #grid-wrapper {
            display: grid;
            grid-template-rows: auto min-content;
            width: 100%;
            height: 100%;
        }

        #igis_navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333; /*#307a11;*/
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: white;
            font-family: Arial;
        }

            #igis_navbar li {
                float: right;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 10px;
            }

                #igis_navbar li a {
                    display: block;
                    text-align: center;
                    padding: 3px 18px;
                    text-decoration: none;
                    color: white;
                }

                    #igis_navbar li a img {
                        height: 20px;
                        padding-left: 10px;
                    }

        .igis_navbar_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .igis_navbar_btn div:hover {
                /*color: #555;
        background-color: white;*/
                font-weight: bolder;
            }

        .jimu-widget-header {
            background-color: #003399 !important;
        }

            .jimu-widget-header .logo {
                background-color: aliceblue !important;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="~/configs/loading/loading.css" />
    <script>
        sessionStorage.setItem("igiswebappuser", "@Model.Username");
        sessionStorage.setItem("igiswebapprole", "@Model.RoleName");
        sessionStorage.setItem("igiswebmapref", "@Model.WebMapReference");
        sessionStorage.setItem("igistoken", "@Model.Token");
        sessionStorage.setItem("igisportaltoken", "@Model.PortalToken");
        sessionStorage.setItem("igiswebappregion", "@Model.Region");
        sessionStorage.setItem("igisuseractivityurl", "@Model.UserActivityUrl");
        sessionStorage.setItem("igisLAqueryUrl", "@Model.LAQueryUrl");
        sessionStorage.setItem("igiswebappw", "@Model.Password");
        sessionStorage.setItem("igiswebappexpire", "@Model.Expires");
        sessionStorage.setItem("igiswebappla", "@Model.LocalAuthorities");
        sessionStorage.setItem("igisArcgisSvrUrl", "@Model.ArcgisServerUrl");
        sessionStorage.setItem("igisPortalUrl", "@Model.ArcgisPortalUrl");
        sessionStorage.setItem("igisManholeQueryUrl","@Model.ManholeQueryUrl");
        sessionStorage.setItem("igisSewerlineQueryUrl1","@Model.SewerlineQueryUrl1");
        sessionStorage.setItem("igisSewerlineQueryUrl2","@Model.SewerlineQueryUrl2");
        sessionStorage.setItem("igisUpdateCEMSUrl","@Model.UpdateCEMSUrl");
        sessionStorage.setItem("igisRestComplaintUrl","@Model.RestComplaintUrl");
    </script>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" sizes="32x32">
</head>
<body class="claro jimu-main-font">

    <div id="main-loading">

        <!-- This is section you can modify to customize the loading page -->
        <div id="app-loading"></div>
        <div id="loading-gif"></div>

        <!-- //////////////////    END    ////////////////////////////// -->
        <div id="ie-note" style="display:none;">
            <div class="hint-title">Error</div>
            <div class="hint-img">Your browser is currently not supported.</div>
            <p class="hint-text">
                <span>
                    Please note that creating presentations is not supported in Internet Explorer versions 6, 7.
                </span>
                <br>
                <span>
                    We recommend upgrading to the latest Internet Explorer, Google Chrome, or Firefox.
                </span>
                <br>
                <span>
                    If you are using IE 8 or later, make sure you turn off "Compatibility View".
                </span>
            </p>
        </div>
        <input id="igiswebappuser" type="hidden" value="@Model.Username">
        <input id="igiswebapprole" type="hidden" value="@Model.RoleName">
        <input id="igiswebmapref" type="hidden" value="@Model.WebMapReference">
        <input id="igistoken" type="hidden" value="@Model.Token">
        <input id="igiswebappregion" type="hidden" value="@Model.Region">
        <input id="igisuseractivityurl" type="hidden" value="@Model.UserActivityUrl">
        <input id="igisLAqueryUrl" type="hidden" value="@Model.LAQueryUrl">
        <input id="igiswebappw" type="hidden" value="@Model.Password">
        <input id="igiswebappexpire" type="hidden" value="@Model.Expires">
    </div>
    <div id="grid-wrapper">
        <div id="main-page">
            <a role="link" id="trapLinkNode" tabindex="0"></a>
            <div id="jimu-layout-manager"></div>
            <div id="skipContainer"></div>
        </div>
        <ul id="igis_navbar">
            <li>
                <div>Logged in as <span>@Model.Username</span>; @Model.RoleName role</div>
            </li>
            <li>
                <a title="Reset">
                    <div id="igisTokenResetBtn" class="igis_navbar_btn">
                        <div>Reset</div>
                        <img src="@Url.Content("~/images-dotnet/reset-icon.png")">
                    </div>
                </a>
                <div>Time remaining: </div>
                <div id="timeRemain">
                </div>
                <a href="@Url.Action("Logout", "Account")" title="Logout">
                    <div id="logoutlinkandicon" class="igis_navbar_btn">
                        <div>Logout</div>
                        <img src="@Url.Content("~/images-dotnet/logout-icon.png")">
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <environment names="Development,Staging,Production">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@
        <script type="text/javascript" src="~/env.js"></script>
        <script type="text/javascript" src="~/simpleLoader.js"></script>
        <script type="text/javascript" src="~/init.js"></script>
    </environment>

</body>
</html>
