﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.igis-textboxes{
    max-width: 15em;
}

.igis-login-labels {
    text-align: right;
}

.title-bs-h3 {
    margin-bottom: 25px;
}

.igis-login-input-rows {
    margin-bottom: 10px;
    margin-top: 10px;
}

.igis-login-button {
    margin-top: 25px;
}

.igis-login-title{
    margin-bottom: 1.5em;
}

.iwk-corner-logo{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 27px;
    opacity: 0.5;
}
