.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultHeader .column_2,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultRow .column_2 {
  width: 70%;
}

.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultHeader .column_3,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultRow .column_3,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultHeader .column_4,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultRow .column_4,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultHeader .column_5,
.resultContainer.isSingleLayer.hideChangesColumn .resultList .resultRow .column_5 {
  display: none;
}

.resultContainer.isSingleLayer:not(.hideChangesColumn) .resultList .resultHeader .column_2,
.resultContainer.isSingleLayer:not(.hideChangesColumn) .resultList .resultRow .column_2 {
  width: 40% !important;
}

.resultContainer .resultList .resultHeader {
  background-color: #f3f3f3;
}

  .resultContainer .resultList .resultHeader .columnCell {
    padding: 3px 5px;
  }

  .resultContainer .resultList .resultHeader span {
    font-weight: 600;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
  }

.resultContainer .resultList .resultRowContainer {
  border-left: 1px solid #7dbc69;
  border-right: 1px solid #7dbc69;
}

  .resultContainer .resultList .resultRowContainer .resultRow .columnCell:nth-child(n+2) {
    border-top: 1px solid C2E4B7;
  }

.resultContainer .resultList .resultHeader,
.resultContainer .resultList .resultRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

  .resultContainer .resultList .resultHeader .column,
  .resultContainer .resultList .resultRow .column {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }

    .resultContainer .resultList .resultHeader .column .columnCell,
    .resultContainer .resultList .resultRow .column .columnCell {
      display: block;
      text-align: left;
      vertical-align: top;
    }

  .resultContainer .resultList .resultHeader .column_1,
  .resultContainer .resultList .resultRow .column_1 {
    width: 30%;
  }

  .resultContainer .resultList .resultHeader .column_2,
  .resultContainer .resultList .resultRow .column_2 {
    position: relative;
    width: 70%;
    border-left: 1px solid #c2e4b7;
  }

    .resultContainer .resultList .resultHeader .column_2 .subLayer,
    .resultContainer .resultList .resultRow .column_2 .subLayer {
      border-top: 1px solid #c2e4b7;
    }

      .resultContainer .resultList .resultHeader .column_2 .subLayer:nth-of-type(odd),
      .resultContainer .resultList .resultRow .column_2 .subLayer:nth-of-type(odd) {
        background-color: #f7f7f7;
      }

  .resultContainer .resultList .resultHeader .column_3,
  .resultContainer .resultList .resultRow .column_3,
  .resultContainer .resultList .resultHeader .column_4,
  .resultContainer .resultList .resultRow .column_4,
  .resultContainer .resultList .resultHeader .column_5,
  .resultContainer .resultList .resultRow .column_5 {
    width: 10%;
    border-left: 1px solid #c2e4b7;
  }

  .resultContainer .resultList .resultHeader .columnContent,
  .resultContainer .resultList .resultRow .columnContent {
    padding: 1px 3px;
  }

.resultContainer div.expendable:not(.isExpanded) {
  display: none;
}

.resultContainer .expandContainer {
  position: relative;
  cursor: pointer;
}

  .resultContainer .expandContainer .expandButton {
    position: absolute;
    right: 10px;
    pointer-events: none;
  }

.resultContainer .subTable {
  width: 100%;
  border-top: 1px solid #c2e4b7;
}

  .resultContainer .subTable tbody tr {
    border-top: 1px solid #c2e4b7;
  }

  .resultContainer .subTable th:nth-child(n+2),
  .resultContainer .subTable td:nth-child(n+2) {
    border-left: 1px solid #c2e4b7;
  }
