<div *ngIf="activitiesByLayer === undefined || activitiesByLayer.length === 0">
  <span>No Result Found</span>
</div>
<div *ngIf="activitiesByLayer !== undefined && activitiesByLayer.length > 0"
     class="resultContainer">
  <div class="resultHeader app-background-color">
    <div class="column column_1"><span class="resultCell app-foreground-color">Layer</span></div>
    <div class="column column_2">
      <div class="subColumnContainer">
        <div class="column subColumn_1"><span class="resultCell app-foreground-color">Ins.</span></div>
        <div class="column subColumn_2"><span class="resultCell app-foreground-color">Upd.</span></div>
        <div class="column subColumn_3"><span class="resultCell app-foreground-color">Del.</span></div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="resultRowContainer" *ngFor="let activityByLayer of activitiesByLayer">
    <div class="resultRow">
      <div class="column column_1"
           [class.isExpandAble]="!isSingleRole"
           (click)="onExpandLayer(activityByLayer, !activityByLayer.isExpanded)">
        <div class="resultCell">{{activityByLayer.label}}</div>
        <expand-collapse-button *ngIf="!isSingleRole"
                                class="expandButton"
                                [isExpanded]="activityByLayer.isExpanded"
                                [isLoading]="activityByLayer.isLoading"
                                [vertical]="true"></expand-collapse-button>
      </div>
      <div class="column column_2">
        <div class="subColumnContainer">
          <div class="subColumn_1">{{activityByLayer.insertCounts}}</div>
          <div class="subColumn_2">{{activityByLayer.updateCounts}}</div>
          <div class="subColumn_3">{{activityByLayer.deleteCounts}}</div>
        </div>
        <ng-container *ngIf="activityByLayer.isExpanded">
          <ng-container *ngFor="let roleChanges of activityByLayer.roleChanges">
            <div class="columnSpan"
                 (click)="roleChanges.isExpanded = !roleChanges.isExpanded">
              <span>{{roleChanges.label}}</span>
              <expand-collapse-button class="expandButton"
                                      [isExpanded]="roleChanges.isExpanded"
                                      [vertical]="true"></expand-collapse-button>
            </div>
            <div *ngIf="roleChanges.isExpanded"
                 class="subColumnContainer">
              <div class="subColumn_1">
                <span>{{roleChanges.changes.insertCounts}}</span>
              </div>
              <div class="subColumn_2">
                <span>{{roleChanges.changes.updateCounts}}</span>
              </div>
              <div class="subColumn_3">
                <span>{{roleChanges.changes.deleteCounts}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
