.resultContainer .resultHeader {
  background-color: #f3f3f3;
  width: 100%;
  display: table;
}

  .resultContainer .resultHeader .column_1,
  .resultContainer .resultHeader .subColumn_1,
  .resultContainer .resultHeader .subColumn_2,
  .resultContainer .resultHeader .subColumn_3 {
    display: table-cell;
    padding: 3px 5px;
  }

    .resultContainer .resultHeader .column_1 span,
    .resultContainer .resultHeader .subColumn_1 span,
    .resultContainer .resultHeader .subColumn_2 span,
    .resultContainer .resultHeader .subColumn_3 span {
      font-weight: 600;
      font-family: Roboto-Bold;
      font-size: 14px;
      color: #333;
      text-transform: uppercase;
    }

.resultContainer .resultRowContainer {
  border-left: 1px solid #7dbc69;
  border-right: 1px solid #7dbc69;
}

  .resultContainer .resultRowContainer .resultRow .column_1 {
    cursor: pointer;
  }

    .resultContainer .resultRowContainer .resultRow .column_1:not(.isExpandAble) {
      cursor: none;
      pointer-events: none;
    }

  .resultContainer .resultRowContainer .resultRow .column_1,
  .resultContainer .resultRowContainer .resultRow .subColumn_1,
  .resultContainer .resultRowContainer .resultRow .subColumn_2,
  .resultContainer .resultRowContainer .resultRow .subColumn_3 {
    display: table-cell;
    padding: 1px 3px;
  }

.resultContainer .resultHeader,
.resultContainer .resultRow {
  display: table;
  width: 100%;
}

  .resultContainer .resultHeader .column_1,
  .resultContainer .resultRow .column_1 {
    display: table-cell;
    vertical-align: top;
    width: 40%;
    position: relative;
  }

    .resultContainer .resultHeader .column_1 .expandButton,
    .resultContainer .resultRow .column_1 .expandButton {
      position: absolute;
      right: 10px;
      top: 0;
      pointer-events: none;
    }

  .resultContainer .resultHeader .column_2,
  .resultContainer .resultRow .column_2 {
    display: table;
    width: 100%;
  }

    .resultContainer .resultHeader .column_2 .columnSpan,
    .resultContainer .resultRow .column_2 .columnSpan {
      cursor: pointer;
      display: block;
      border-top: 1px solid #c2e4b7;
      border-left: 1px solid #c2e4b7;
      padding: 1px 3px;
      background-color: #f7f7f7;
      position: relative;
    }

      .resultContainer .resultHeader .column_2 .columnSpan .expandButton,
      .resultContainer .resultRow .column_2 .columnSpan .expandButton {
        position: absolute;
        right: 10px;
        top: 0;
      }

  .resultContainer .resultHeader .subColumnContainer,
  .resultContainer .resultRow .subColumnContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

    .resultContainer .resultHeader .subColumnContainer:nth-child(n+2),
    .resultContainer .resultRow .subColumnContainer:nth-child(n+2) {
      border-top: 1px solid #c2e4b7;
    }

    .resultContainer .resultHeader .subColumnContainer .subColumn_1,
    .resultContainer .resultRow .subColumnContainer .subColumn_1,
    .resultContainer .resultHeader .subColumnContainer .subColumn_2,
    .resultContainer .resultRow .subColumnContainer .subColumn_2,
    .resultContainer .resultHeader .subColumnContainer .subColumn_3,
    .resultContainer .resultRow .subColumnContainer .subColumn_3 {
      display: table-cell;
      border-left: 1px solid #c2e4b7;
    }

  .resultContainer .resultHeader .resultCell,
  .resultContainer .resultRow .resultCell {
    display: inline-block;
  }
