<div *ngIf="activitiesByRole === undefined || activitiesByRole.length === 0">
  <span>No Result Found</span>
</div>
<!-- For specific layer selected-->
<div *ngIf="isSingleLayer && activitiesByRole !== undefined && activitiesByRole.length > 0"
     class="resultContainer"
     [class.isSingleLayer]="isSingleLayer"
     [class.hideChangesColumn]="!_showChangesColumn">
  <div class="resultList">
    <div class="resultHeader app-background-color">
      <div class="column column_1"><span class="columnCell app-foreground-color">Role</span></div>
      <div class="column column_2 ">
        <div class="expandContainer columnCell"
             (click)="onExpandSingleLayerRoleChanges()">
          <span class="app-foreground-color">User Access Days</span>
          <expand-collapse-button class="expandButton app-foreground-color"
                                  [isExpanded]="_showChangesColumn"
                                  [vertical]="false"></expand-collapse-button>
        </div>
      </div>
      <div class="column column_3"><span class="columnCell app-foreground-color">Ins.</span></div>
      <div class="column column_4"><span class="columnCell app-foreground-color">Upd.</span></div>
      <div class="column column_5"><span class="columnCell app-foreground-color">Del.</span></div>
    </div>
    <mat-divider></mat-divider>
    <div class="resultRowContainer" *ngFor="let activityByRole of activitiesByRole">
      <div class="resultRow">
        <div class="column column_1">
          <span class="columnCell columnContent">{{activityByRole.label}}</span>
        </div>
        <div class="column column_2">
          <div class="columnCell columnContent">
            <span>{{activityByRole.accessDays}}</span>
          </div>
        </div>
        <div class="column column_3">
          <div class="columnCell columnContent">
            <span>{{activityByRole.changes.insertCounts}}</span>
          </div>
        </div>
        <div class="column column_4">
          <div class="columnCell columnContent">
            <span>{{activityByRole.changes.updateCounts}}</span>
          </div>
        </div>
        <div class="column column_5">
          <div class="columnCell columnContent">
            <span>{{activityByRole.changes.deleteCounts}}</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
<!-- For 'all layers' selected-->
<div *ngIf="!isSingleLayer && activitiesByRole !== undefined && activitiesByRole.length > 0"
     class="resultContainer">
  <div class="resultList">
    <div class="resultHeader app-background-color">
      <div class="column column_1"><span class="columnCell app-foreground-color">Role</span></div>
      <div class="column column_2"><span class="columnCell app-foreground-color">User Access Days</span></div>
    </div>
    <mat-divider></mat-divider>
    <div class="resultRowContainer" *ngFor="let activityByRole of activitiesByRole; let i = index">
      <div class="resultRow"
           [class.isEventRow]="i % 2 === 1">
        <div class="column column_1 resultColumnHeader">
          <span class="columnCell columnContent">{{activityByRole.label}}</span>
        </div>
        <div class="column column_2">
          <div class="columnCell">
            <div class="expandContainer columnContent" (click)="onExpandRole(activityByRole, !activityByRole.isExpanded)">
              <span>{{activityByRole.accessDays}}</span>
              <expand-collapse-button class="expandButton"
                                      [isExpanded]="activityByRole.isExpanded"
                                      [isLoading]="activityByRole.isLoading"
                                      [vertical]="true"></expand-collapse-button>

            </div>
            <div *ngIf="activityByRole.isExpanded">
              <ng-container *ngFor="let layer of activityByRole.layerChanges">
                <div class="expandContainer subLayer columnContent"
                     (click)="onExpandLayer(layer, !layer.isExpanded)">
                  <span>{{layer.label}}</span>
                  <expand-collapse-button class="expandButton"
                                          [isExpanded]="layer.isExpanded"
                                          [isLoading]="layer.isLoading"
                                          (onChange)="onExpandLayer(layer, $event)"></expand-collapse-button>
                </div>
                <div class="expendable" [class.isExpanded]="layer.isExpanded && layer.changes !== undefined">
                  <table class="subTable">
                    <thead>
                      <tr>
                        <td class="columnContent">Insert</td>
                        <td class="columnContent">Update</td>
                        <td class="columnContent">Delete</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="columnContent">{{layer.changes.insertCounts}}</td>
                        <td class="columnContent">{{layer.changes.updateCounts}}</td>
                        <td class="columnContent">{{layer.changes.deleteCounts}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
