<div class="landing-page container">
  <h2 class="landing-page-title color-primary-0 text-center">IGIS Administration</h2>
  <div class="text-center landing-page-links"><a href="https://igis.iwk.com.my/geoserver/manager">User/Role Administration</a></div>
  <div class="text-center landing-page-links"
       [routerLinkActive]="['link-active']"><a [routerLink]="['/useractivityreports']">User Activity Reports</a></div>
  <div class="text-center landing-page-links"><a (click)="onLogoutClick()">Logout</a></div>
</div>
