﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <h2>You have been logged out of IGIS Web Application.</h2>
    @Html.ActionLink("Return to IGIS Web App", "Index", "Home")
</body>
</html>
