﻿@{
    ViewData["Title"] = "CEMS";

    var assetNo = ViewData["assetNo"];

    Layout = null;
}
@model List<CemsViewModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CEMS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <style>
        html,
        body,
        #viewDiv {
            font-family: sans-serif;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .container {
            padding: 1em;
        }

        input {
            width: 75%;
        }

        .center {
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">
    <script src="https://js.arcgis.com/4.8/"></script>

    @*<script>
            require([
                "esri/request",
                "dojo/on",
                "dojo/domReady!"
            ], function (
                esriRequest,
                on
            ) {

                    var resultsDiv = document.getElementById("resultsDiv");
                    var input = document.getElementById("inputUrl");

                    /************************************************
                     *
                     * Define the 'options' for our request.
                     *
                     *************************************************/
                    var options = {
                        query: {
                            f: 'json'
                        },
                        responseType: 'json'
                    };

                    // Make the request on a button click using the
                    // value of the 'input' text.
                    on(btnQuery, "click", function () {
                        var url = input.value;
                        esriRequest(url, options).then(function (response) {
                            console.log('response', response);
                            var responseJSON = JSON.stringify(response, null, 2);
                            resultsDiv.innerHTML = responseJSON;
                        });
                    });
                });
        </script>*@
</head>

<body>
    <div class="container">
        @*<div>
                <h2>Using esri/request</h2>
                <button id="btnQuery">Make Request</button>
                <input id="inputUrl" type="text" value="https://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer">
            </div>
            <pre id="resultsDiv"></pre>*@

        <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12">
            <table class="table table-bordered table-hover col-md-10">
                <thead>
                    <tr>
                        <th class="center h4" colspan="4" style="background-color: #191970; color: white;">Summary report of @assetNo for the previous three months</th>
                    </tr>
                    <tr style="color: white; background-color: #6495ED;">
                        <th class="center">Enquiry Type</th>
                        <th class="center">Total Number Resolved</th>
                        <th class="center">Total Number Unresolved</th>
                        <th class="center">Total Number Temporary Resolved</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.Count() > 0)
                    {
                        @foreach (CemsViewModel codes in @Model)
                        {
                            <tr class="bold">
                                <td class="center">@codes.ENQTYPE_DESC</td>
                                <td class="center">@codes.RESOLVED</td>
                                <td class="center">@codes.UNRESOLVED</td>
                                <td class="center">@codes.TEMP_RESOLVED</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="bold">
                            <td class="center" colspan="4">No record found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>