﻿@{
    Layout = null;
    ViewData["Title"] = "IGIS Web Application Login";
}
@model IGISAccess.ViewModels.LoginViewModel


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>IGIS Login</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" sizes="32x32">
</head>
<body>
    <img src="~/images-dotnet/Logo-IWK.jpg" alt="IWK" class="iwk-corner-logo">
    <div class="container">
        <img src="~/images-dotnet/Logo-IGIS.png" class="img-rounded center-block" alt="IGIS" height="180" />
        <h2 class="text-center igis-login-title">@ViewData["Title"]</h2>
        <div class="center-block text-center">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-controller="Account" asp-action="Login">
                    <div class="form-group col-md-6 col-md-offset-3">
                        <div class="row igis-login-input-rows">

                            <label asp-for="Username" class="col-md-4 igis-login-labels"></label>
                            <div class="col-md-8">
                                <input asp-for="Username" class="form-control igis-textboxes center-block"
                                       id="usernameTextbox" onkeypress="var loginMessage = document.getElementById('loginMessage');
                                                                loginMessage.style.display = 'none';" />
                            </div>
                        </div>
                        <div class="row igis-login-input-rows">
                            <label asp-for="Password" class="col-md-4 igis-login-labels"></label>
                            <div class="col-md-8">
                                <input asp-for="Password" id="passwordTxtBox" class="form-control igis-textboxes center-block" />
                            </div>
                        </div>
                        @{
                            var loginStyleText = "";
                            var loginMessage = "";
                            if (!(@Model != null && (@Model.LoginMessage != null || @Model.LoginMessage == string.Empty)))
                            {
                                loginStyleText = "style=display:none;";
                            }
                            else
                            {
                                loginMessage = @Model.LoginMessage;
                            }
                        }
                        <div class="text-danger row" id="loginMessage" @loginStyleText>
                            <span>@loginMessage</span>
                        </div>
                        <div class="row igis-login-button">
                            <button type="submit" class="btn btn-primary" value="LoginBtn">Login</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("#passwordTxtBox,#usernameTextbox").keypress(function (event) {
            if (event.keyCode == 13) {
                LoginBtn();
            }
        });
    </script>
</body>
</html>
