/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*
  Color Pallete for the App, please follow it
*/
.color-primary-0 {
  color: #006633
}
/* Main Primary color */
.color-primary-1 {
  color: #C2E4B7
}

.color-primary-2 {
  color: #7DBC69
}

.color-primary-3 {
  color: #256E0D
}

.color-primary-4 {
  color: #114600
}

.color-complement-0 {
  color: #A53746
}
/* Main Complement color */
.color-complement-1 {
  color: #F7C6CD
}

.color-complement-2 {
  color: #D37683
}

.color-complement-3 {
  color: #7C0F1E
}

.color-complement-4 {
  color: #4E000B
}

.app-background-color {
  background-color: #006633 !important;
}

.app-light-background-color {
  background-color: #68B160 !important;
}

.app-foreground-color {
  color: #C2E4B7 !important;
}

/* Start- Override Angular Material css*/
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-underline {
  bottom: 0 !important;
}

.mat-datepicker-toggle-active,
.mat-focused .mat-form-field-label {
  color: #4bb245 !important;
}

.mat-form-field-ripple,
.mat-calendar-body-selected {
  background-color: #4bb245 !important;
}

.mat-divider {
  border-top-color: #7DBC69 !important;
}

/* End - Override Angular Material css*/
