<div class="userActivityReports">
  <div class="queryPanel">
    <div class="headerLabel">USER ACTIVITY REPORTS</div>
    <div class="queryRow queryDate">
      <div class="inputDiv">
        <mat-form-field>
          <input matInput [matDatepicker]="fromDatepicker" readonly="readonly" [(ngModel)]="_queryFromDate" placeholder="From">
          <mat-datepicker-toggle [for]="fromDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #fromDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="inputDiv">
        <mat-form-field>
          <input matInput [matDatepicker]="toDatepicker" readonly="readonly" [(ngModel)]="_queryToDate" placeholder="To">
          <mat-datepicker-toggle [for]="toDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #toDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="queryRow">
      <span class="inputLabel">Display by</span>
      <select class="selectionInput displayBySelection"
              [(ngModel)]="displayType">
        <option *ngFor="let displayBy of _displayBySelection"
                [ngValue]="displayBy">
          {{displayBy.label}}
        </option>
      </select>
    </div>
    <div class="queryRow">
      <span class="inputLabel">Role</span>
      <select class="selectionInput roleSelection" [(ngModel)]="_selectedRole">
        <option *ngFor="let role of _roleSelection"
                [ngValue]="role">
          {{role.label}}
        </option>
      </select>
    </div>
    <div class="queryRow">
      <span class="inputLabel">Layer</span>
      <select class="selectionInput layerSelection"
              [(ngModel)]="_selectedLayer">

        <option *ngFor="let layer of _layerSelection"
                [ngValue]="layer">
          {{layer.label}}
        </option>
      </select>
    </div>
    <div class="queryRow queryButtonRow">
      <button class="queryButton" (click)="queryActivity()">Query</button>
    </div>
  </div>
  <div class="queryResultContainer">
    <div *ngIf="_result !== undefined && _result.length > 0"
         class="querySummary">
      <p class="resultSummaryLabel">Results</p>
      <p>
        <b>Role:&nbsp;</b><span>{{_resultRole.label}}&#59;</span>
        <b>Layer:&nbsp;</b><span>{{_resultLayer.label}}&#59;</span>
        <b>from&nbsp;</b><span>{{_resultFromDate.format('DD/M/YYYY')}}<b>&nbsp;to&nbsp;</b><span>{{_resultToDate.format('DD/M/YYYY')}}</span></span>
      </p>
    </div>
    <div class="quertResult">
      <user-activities-by-role *ngIf="_resultDisplayType === 'role'"
                               [isSingleLayer]="_resultLayer.value !== ''"
                               [isSingleRole]="_resultRole.value !== ''"
                               [fromDate]="_resultFromDate"
                               [toDate]="_resultToDate"
                               [data]="_result"></user-activities-by-role>
      <user-activities-by-layer *ngIf="_resultDisplayType === 'layer'"
                                [isSingleRole]="_resultRole.value !== ''"
                                [fromDate]="_resultFromDate"
                                [toDate]="_resultToDate"
                                [data]="_result"></user-activities-by-layer>
    </div>
  </div>


</div>
<footer class="footer">
  <div id="backButton" class="container">
    <div><a (click)="onBackClick()">< Back</a></div>
  </div>
</footer>
