.userActivityReports {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

  .userActivityReports .headerLabel {
    font-weight: 800;
    font-size: 14pt;
    text-align: center;
  }

  .userActivityReports .queryPanel {
    padding-top: 20px;
    flex-grow: 0;
  }

    .userActivityReports .queryPanel .queryRow {
      margin-top: 10px;
      margin-top: 10px;
      text-align: center;
    }

    .userActivityReports .queryPanel .queryButtonRow {
      text-align: center;
    }

    .userActivityReports .queryPanel .queryDate .inputDiv {
      display: inline-block;
      padding: 10px;
    }

      .userActivityReports .queryPanel .queryDate .inputDiv .date {
        height: 24px;
      }

  .userActivityReports .queryResultContainer {
    flex-grow: 1;
    width: 90%;
  }

@media only screen and (max-width: 1080) {
  .userActivityReports .queryResultContainer {
    width: 80%;
  }
}

.inputLabel {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.dateInputLabel {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  width: 60px;
  display: inline-block;
}

.selectionInput {
  width: 250px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: auto;
  height: 30px;
  line-height: 30px;
}

.footer .container{
  padding-left:0;
}
